<div class="header-container">
  <div class="sign">
    <span>Sina Nasiri</span>
  </div>
  <ul class="menu-items">
    <li class="item">
      <a routerLink="/" class="home">Home</a>
    </li>
    <li class="item">
      <a routerLink="/education" class="edu">Education and Achievements</a>
    </li>
    <li class="item">
      <a routerLink="/experience" class="xp">Experience</a>
    </li>
    <li class="item">
      <a routerLink="/projects" class="pr">Projects</a>
    </li>
    <li class="item">
      <a routerLink="/blog" class="home">Blogs</a>
    </li>
    <li class="item">
      <a routerLink="/contact" class="con">Contact</a>
    </li>
  </ul>
</div>
