p {
  text-align: center;
  color: #868e96;
  font-weight: 700;
  font-size: large;
  width: 410px;
  padding-bottom: 30px;
}

.footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
