<div class="full-stack-development">
  <div class="img">
    <ng-lottie [options]="experienceJson" (animationCreated)="animationCreated($event)"></ng-lottie>
  </div>

  <div class="description">
    <div class="title">
      Cloud Infra-Architecture
    </div>
    <div class="item-container">
      <div class="item">⚡ Limited Hands-on Experience with Cloud Services from Different Providers</div>
      <div class="item">⚡ Experience in hosting and managing websites</div>
      <div class="item">⚡ Experience with Continuous Integration and DevOps</div>
      <div class="item">⚡ Understanding the Linux OS</div>
      <div class="item">⚡ Divine Knowledge in Web Services and APIs</div>
    </div>
  </div>
</div>
