
.main {
  position: relative;

  video {
    max-width: 480px;
    object-fit: cover;
    margin: 0 auto;
  }

  .main-text {
    position: absolute;
    top: 50px;
    width: 100%;
    max-width: 480px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .buttons {
    max-width: 480px;
    margin: 0 auto;
    width: 100%;
    position: absolute;
    bottom: 70px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    img {
      width: 64px;
      height: 64px;
    }
  }
}
