<main class="main">
  <video autoplay loop muted preload="auto" poster="./assets/wedding/poster.png">
    <source src="./assets/wedding/wed.mp4" type="video/mp4">
  </video>

  <button class="mute-button" (click)="toggleMute()">
    {{ isMuted ? '🔇' : '🔊' }}
  </button>
  <div class="main-text">
    <img src="./assets/wedding/names.png">
  </div>
  <div class="buttons">
    <img (click)="openInNeshan()" src="./assets/wedding/neshan.png">
    <img (click)="openInWaze()" src="./assets/wedding/waze.png">
    <img (click)="openLink()"
         src="./assets/wedding/google-maps.png">
  </div>
</main>
