<div class="full-stack-development">
  <div class="img">
    <ng-lottie [options]="educationJson" (animationCreated)="animationCreated($event)"></ng-lottie>
  </div>

  <div class="description">
    <div class="title">
      Education & Achievements
    </div>
    <div class="item-container">
      <div class="item">"Education breeds confidence. Confidence breeds hope. Hope breeds peace." - Confucius</div>
      <div class="item">"Once you learn to read, you will be forever free." - Frederick Douglass</div>
      <div class="item"> "The highest result of education is tolerance." - Helen Keller</div>
    </div>
  </div>
</div>

<div class="education-title">
  <p>My Educational Journey</p>
</div>

<div class="card-container">
  <div class="card">
    <div class="card-image"></div>
    <div class="card-body">
      <div class="card-header">
        <div class="card-title">Master's degree in MBA</div>
        <div class="card-description">
          Foreign Equivalency : BACHELOR'S DEGREE (Verifyed By WES )
        </div>
      </div>
    </div>
  </div>

</div>
