.home-container {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

  .bio {
    width: 50%;
    color: white;
    font-size: 50px;

    .social-media {
      margin-top: 30px;
      display: flex;
      align-items: center;
      gap: 10px;

      img {
        width: 40px;
        height: 40px;
      }
    }

    .bio-explain {
      span {
        color: #14e956;
      }
    }

    .me {
      margin-bottom: 20px;
      color: #14e956;
      font-size: 40px;
    }
  }
}

.btn-container {
  transition: all .3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;

  .buy {
    margin-left: 30px;
    background-color: yellow;
  }

  a {
    text-align: center;
    background-color: #faa700;
    text-decoration: none;
    color: #000;
    padding: 15px;
    margin-top: 25px;
    border-radius: 4px;
    border-width: 0;
    margin-bottom: 20px;
    width: 230px;
    height: 50px;
    font-weight: 600;
    font-size: 17px;
    transition: all .2s ease-in-out;
    cursor: pointer;
  }
;
}


.can-i-do {
  margin-top: 50px;
  font-size: 50px;
  font-weight: bold;
  color: white;
  width: 100%;
  text-align: center;
}

.full-stack-development {
  gap: 100px;
  display: flex;
  align-items: center;
  justify-content: center;

  .description {
    .title {
      font-size: 56px;
      font-weight: 400;
      line-height: normal;
      color: orange;
    }

    .item-container {
      margin-top: 50px;

      .item {
        margin-top: 10px;
        font-size: 20px;
        color: rgb(141, 141, 141);
      }
    }
  }
}
